<div class="row" recipe_id="{{ pk }}">
  <div class="col-md-12" recipe_id="{{ pk }}">
    <h2 class="recipe" recipe_id="{{ pk }}" >{{ title }}</h2>
       <ul>
          <li>Title: {{ title }}</li>
          <li>Publisher: {{ publisher }}</li>
          <li>Recipe_image: {{ recipe_id }}</li>
          <li>Social_rank: {{ social_rank }}</li>
          <li>Social_rank: {{ ingredients }}</li>
       </ul>
    <p><a class="btn btn-default" href="#" role="button">Source Link &raquo;</a></p>
  </div>
</div>